

.photoCarouselContainer {
    background-color: #F2F3FB;
    color: #1C2444;
    height: 25rem;
    width: 18rem;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 3px #1c2444;
    border-radius: 15px;
    padding: 1rem;
}

.activeSlide {   
    width: 18rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

.inactiveSlide {
    display: none;
}

.slideImage {
    width: 14rem;
    object-fit: cover;
    box-shadow: 1px 1px 10px 3px #1c2444;
    border-radius: 15px;
}

.slideTitle {
    font-size: 19px;
    font-weight: 600;
}

.prevmensCarousel, .nextmensCarousel {
    cursor: pointer;
    z-index: 100;
    top: 50%;
    width: .5rem;
    padding: .5rem;
    margin-top: -4rem;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    margin-right: auto;
}

.prevmensCarousel:hover, .nextmensCarousel:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in;
}

.nextmensCarousel {
    right: 2%;
    border-radius: 5px
}

.prevmensCarousel {
    left: 1%;
}

.dotContainer {
    width: 100%;
    position: absolute;
    display: flex;
    top: 88%;
    justify-content: center;
    z-index: 200;
}

.dot, .activeDot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
}

.activeDot, .dot:hover {
    background-color: rgba(51, 8, 243, 0.664);
}

@media only screen and (min-width: 768px) {

    .photoCarouselContainer {
        height: 40rem;
        width: 50rem;
        margin-bottom: 2rem;
    }
    
    .activeSlide {   
        width: 40rem;
        height: 20rem;
        padding: 1rem;
        gap: 2rem;
    }

    .slideTitle {
        font-size: 24px;
        font-weight: 600;
    }

    .slideImage {
        width: auto;
    }

    .dotContainer {
        top: 92%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1170px){

    .photoCarouselContainer {
        width: 40rem;
    }

}